@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&family=Tilt+Neon&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container>.hero {
    background: rgba(19, 18, 18, 0.354);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    /* width: auto; */
    padding: 20px;
    backdrop-filter: blur(10px);
    /* color: aliceblue; */
}

.answersbtn{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 10px 12px;
    margin-top: 10px;
}

.hero > .hide {
    display: none;
}
.nextbtn
{
    /* display: none; */
    padding: 10px;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.btn.correct {
    background: #28a745;
}

.btn.wrong {
    background: #dc3545;
}